.shortcutLetterHighlight{
    font-weight: bolder;
    text-decoration: underline;
    font-size: 18px;
}
.patientIdHighlight{
    font-weight: bolder;
}

.ant-checkbox-wrapper,.ant-checkbox-wrapper + .ant-checkbox-wrapper{
    display: block;
    margin-left: 0px;
}